@model MediCareConnect.Models.Patient

@{
    ViewData["Title"] = "Patient Details";
}

<h1>Patient Details</h1>

<div>
    <h4>Patient Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Phone Number</dt>
        <dd class="col-sm-10">@Model.PhoneNumber</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>
</div>

<div>
    <h4>Appointments</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Doctor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model.Appointments)
            {
                <tr>
                    <td>@appointment.AppointmentDate.ToShortDateString()</td>
                    <td>@appointment.Doctor?.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h4>Prescriptions</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Medication</th>
                <th>Instructions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prescription in Model.Prescriptions)
            {
                <tr>
                    <td>@prescription.Medication?.Name</td>
                    <td>@prescription.Instructions</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h4>Diagnoses</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Condition</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var diagnosis in Model.Diagnoses)
            {
                <tr>
                    <td>@diagnosis.Condition</td>
                    <td>@diagnosis.DiagnosisDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
