@model MediCareConnect.Models.Doctor

@{
    ViewData["Title"] = "Doctor Details";
}

<h1>Doctor Details</h1>

<div>
    <h4>Doctor Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>

<div>
    <h4>Appointments</h4>
    <hr />
    @if (Model.Appointments != null && Model.Appointments.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Date and Time</th>
                    <th>Patient</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model.Appointments.OrderBy(a => a.AppointmentDate))
                {
                    <tr>
                        <td>
                            @appointment.AppointmentDate.ToString("g")
                        </td>
                        <td>
                            @appointment.Patient.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No appointments scheduled.</p>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>